#cloud-config
hostname: ${hostname}
manage_etc_hosts: true

users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}

package_update: true
package_upgrade: false

packages:
  - qemu-guest-agent
  - curl

write_files:
  - path: /etc/rancher/k3s/config.yaml
    permissions: "0644"
    owner: root:root
    content: |
      write-kubeconfig-mode: "0644"
      tls-san:
        - "${hostname}"
        - "${vm_ip}"
      flannel-backend: "none"
      disable-network-policy: true
      disable:
        - servicelb
        - traefik

runcmd:
  - systemctl start qemu-guest-agent
  - curl -sfL https://get.k3s.io | sh -
